---
import Layout from "../layouts/Layout.astro";
import FullImageHeroSection from "../components/FullImageHeroSection.astro";
import TextImageSection from "../components/TextImageSection.astro";
import headshot2024 from "../assets/images/Headshot_2023_small.webp";
import "../styles/global.css";

const pageTitle = "About";
const description = "About Ben Gardiner Photography";
---

<Layout title={pageTitle} description={description}>
  <FullImageHeroSection id={pageTitle.toLowerCase()}>
    <h1>
      <span class="letter-highlight">A</span>bout
    </h1>
  </FullImageHeroSection>
  <TextImageSection id="about" title="About Ben Gardiner" imageSrc={headshot2024.src}, imageAlt="Ben wearing glasses." btnText="Contact" btnLink="/contact">
    <p>Born and raised in country Victoria, I've always been captivated by the beauty of   the natural world.</p>
    <p>What started as a simple interest in photography evolved into a full-blown passion as I taught myself the principles of DSLR photography.</p>
    <p>I now spend much of my spare time capturing and sharing the beauty of the natural world as seen through through my lens.</p>
    <p>My love for photography has become a huge part of my life, and I am constantly striving to improve and share my knowledge with others.</p>
    <p>Please explore my website and don't hesitate to <a href="mailto:ben.gardiner.photography@gmail.com?subject=Enquiry" target="_blank"
      >get in touch.</a
    ></p>
  </TextImageSection>
</Layout>

<style>
  a {
    color: var(--color-gold);
  }

  a:hover {
    color: var(--color-active-link);
  }
</style>
