---
import Layout from "../layouts/Layout.astro";
import FullImageHeroSection from "../components/FullImageHeroSection.astro";
import "../styles/global.css";

const pageTitle = "About";
const description = "About Ben Gardiner Photography";
---

<Layout title={pageTitle} description={description}>
  <FullImageHeroSection id={pageTitle.toLowerCase()}>
    <h1>
      <span class="letter-highlight">A</span>bout
    </h1>
  </FullImageHeroSection>

</Layout>
