---
import Layout from "../layouts/Layout.astro";
import FullImageHeroSection from "../components/FullImageHeroSection.astro";
import ContactForm from "../components/ContactForm.astro";
import "../styles/global.css";

const pageTitle = "Contact";
const description = "Contact Ben Gardiner Photography";
---

<Layout title={pageTitle} description={description}>
  <FullImageHeroSection id={pageTitle.toLowerCase()}>
    <h1>
      <span class="letter-highlight">C</span>ontact
    </h1>
  </FullImageHeroSection>
  <section id="contact">
   <ContactForm />
  </section>

</Layout>
