---
import Layout from "../layouts/Layout.astro";
// import ButtonLink from "../components/ButtonLink.astro";
import "../styles/global.css";

const pageTitle = "Cookie Policy (AU)";
const description = "";
---

<Layout title={pageTitle} description={description}>
  <div class="container">
    <h1>{pageTitle}</h1>
    <p>
      This page was last changed on December 31, 2023, last checked on December
      31, 2023 and applies to citizens of Australia.
    </p>
    <h2>1. Introduction</h2>
    <p>
      Our website, <a href="https://bengardinerphotography.com">https://bengardinerphotography.com</a> (hereinafter: "the
      website") uses cookies and other related technologies (for convenience all
      technologies are referred to as "cookies"). Cookies are also placed by
      third parties we have engaged. In the document below we inform you about
      the use of cookies on our website.
    </p>
    <h2>2. What are cookies?</h2>
    <p>
      A cookie is a small simple file that is sent along with pages of this website and stored by your browser on the hard drive of your computer or another device. The information stored therein may be returned to our servers or to the servers of the relevant third parties during a subsequent visit.
    </p>
    <h2>3. What are scripts?</h2>
    <p>
      A script is a piece of program code that is used to make our website function properly and interactively. This code is executed on our server or on your device.
    </p>
    <h2>4. What is a web beacon?</h2>
    <p>
      A web beacon (or a pixel tag) is a small, invisible piece of text or image on a website that is used to monitor traffic on a website. In order to do this, various data about you is stored using web beacons.
    </p>
    <h2>5. Consent</h2>
    <p>
      When you visit our website for the first time, we will show you a pop-up with an explanation about cookies. As soon as you click on "Save preferences", you consent to us using the categories of cookies and plug-ins you selected in the pop-up, as described in this Cookie Policy. You can disable the use of cookies via your browser, but please note that our website may no longer work properly.
    </p>
    <p>
      You can withdraw your consent at any time by adjusting your cookie settings in your browser. If you have consented to advertising cookies, you can also withdraw this consent at any time by going to <a href="https://optout.aboutads.info/">https://optout.aboutads.info/</a>.
    </p>
    <h2>6. Cookies</h2>
    <h3>6.1 Technical or functional cookies</h3>
    <p>
      Some cookies ensure that certain parts of the website work properly and that your user preferences remain known. By placing functional cookies, we make it easier for you to visit our website. This way, you do not need to repeatedly enter the same information when visiting our website and, for example, the items remain in your shopping cart until you have paid. We may place these cookies without your consent.
    </p>
    <h3>6.2 Marketing/Tracking cookies</h3>
    <p>
      Marketing/Tracking cookies are cookies or any other form of local storage, used to create user profiles to display advertising or to track the user on this website or across several websites for similar marketing purposes.
    </p>
    <h2>7. Placed cookies</h2>
    <h3>7.1 Google Analytics</h3>
    <p>We use Google Analytics for website statistics.</p>
    <p>
      Name: _ga
      <br />
      Purpose: It registers a unique ID that is used to generate statistical data on how the visitor uses the website.
      <br />
      Retention period: 2 years
      <br />
      Country of storage: United States
    </p>
    <p>
      Name: _gid
      <br />
      Purpose: It registers a unique ID that is used to generate statistical data on how the visitor uses the website.
      <br />
      Retention period: 1 day
      <br />
      Country of storage: United States
    </p>
    <h3>7.2 Google Fonts</h3>
    <p>We use Google Fonts for display of webfonts.</p>
    <p>
      Name: Google Fonts API
      <br />
      Purpose: It requests font files from Google Fonts.
      <br />
      Retention period: expires immediately
      <br />
      Country of storage: United States
    </p>
    <h3>7.3 Netlify</h3>
    <p>We use Netlify for website hosting.</p>
    <p>
      Name: __cfduid
      <br />
      Purpose: It is used by the content network, Cloudflare, to identify trusted web traffic.
      <br />
      Retention period: 1 year
      <br />
      Country of storage: United States
    </p>
    <h3>7.4 Miscellaneous</h3>
    <p>
      Due to the nature of the web, we cannot guarantee that third parties will not use cookies in ways that are not in line with our Cookie Policy. For example, it is possible that a third party will register the actions of the user, such as clicking on a button or reading certain pages, in the form of a cookie. If you come across this on our website, please let us know.
    </p>
    <h2>8. Enabling/disabling and deleting cookies</h2>
    <p>You can use your internet browser to automatically or manually delete cookies. You can also specify that certain cookies may not be placed. Another option is to change the settings of your internet browser so that you receive a message each time a cookie is placed. For more information about these options, please refer to the instructions in the Help section of your browser.

      Please note that our website may not work properly if all cookies are disabled. If you do delete the cookies in your browser, they will be placed again after your consent when you visit our website again.</p>
      <h2>9. Your rights with respect to personal data</h2>
      <p>
        You have the following rights with respect to your personal data:
      </p>
      <ul>
        <li>you may submit a request for access to the data we process about you;</li>
        <li>you may request an overview, in a commonly used format, of the data we process about you;
        </li>
        <li>you may request correction or deletion of the data if it is incorrect or not or no longer relevant for any purpose under the Privacy Act.
        </li>
      </ul>
      <p>To exercise these rights, please contact us. Please refer to the contact details at the bottom of this cookie statement. If you have a complaint about how we handle your data, we would like to hear from you.</p>
      <h2>10. Contact Details</h2>
      <p>
        For questions and/or comments about our Cookie Policy and this statement, please contact us by using the following contact details:
      </p>
      <p>
        Ben Gardiner Photography
        <br />
        Daylesford, Victoria        <br />
        Australia
        <br />
        Website: <a href="https://bengardinerphotography.com">https://bengardinerphotography.com</a>
        <br />
        Email: <a href="mailto:ben.gardiner.photography@gmail.com?subject=Cookie%20Enquiry" target="_blank">ben.gardiner.photography@gmail.com</a>
      </p>
  </div>
</Layout>

<style>
  .container {
    max-width: 800px;
    margin: 8rem auto;
    padding: 0 1rem;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--color-green)
  }

  h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.25rem;
  background-color: var(--color-gold);
  border-radius: 0.25rem;
  margin: 0.5rem 0 1rem 0;
}

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  h2::after {
    width: 50%;
    margin: 0.5rem 0 1rem 0;
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: var(--font-size-4);
    margin-bottom: 2rem;
  }
  ul {
    margin-bottom: 2rem;
  }
  li {
    margin-bottom: 0.5rem;
    list-style: disc;
  }

  a {
    color: var(--color-gold);
    text-decoration: underline;
  }

  a:hover {
    color: var(--color-green);
  }
</style>
