---
import Layout from "../layouts/Layout.astro";
import FullImageHeroSection from "../components/FullImageHeroSection.astro";
import ButtonLink from "../components/ButtonLink.astro";
import GalleryGrid from "../components/GalleryGrid.astro";
import ImageQuote from "../components/ImageQuote.astro";
import TextImageSection from "../components/TextImageSection.astro";
import selfPortrait from "../assets/images/self-portrait-600.webp";
import "../styles/global.css";

const pageTitle = "Home";
const description =
  "Ben Gardiner Photography Nature. Landscape. Wildlife. Gallery Gallery Astro Photography of the stars, the moon, the cosmos, and beyond. Seasons Summer, Autumn, Winter, Spring.Seasonal photography throughout the year. Landscapes The bush, the fog, the light, the landscape.Photography of Australia’s unique landscapes. Nature The natural world. Plants and bugs. Photography of the often overlooked aspects of … Home Read More »";
---

<Layout title={pageTitle} description={description}>
  <FullImageHeroSection id={pageTitle.toLowerCase()}>
    <h1>
      <span class="letter-highlight">B</span>en
      <span class="letter-highlight">G</span>ardiner
      <span class="letter-highlight">P</span>hotography
    </h1>
    <h3>
      <span class="highlight-1">Nature.</span>
      <span class="highlight-2">Landscape.</span>
      <span class="highlight-3">Wildlife.</span>
    </h3>
    <ButtonLink
      size="large"
      btnText="Gallery"
      btnLink="#gallery"
      customClass="mt-2 scroll-btn"
    />
  </FullImageHeroSection>

  <section id="gallery">
    <h2>Gallery</h2>
    <GalleryGrid />
  </section>

  <ImageQuote id="home-quote" author="Carl Sagan">
    <p>
      “Our planet is a lonely speck in the great enveloping cosmic dark.
      <br /><br />In our obscurity, in all this vastness, there is no hint that
      help will come from elsewhere to save us from ourselves...<br /><br
      />...Like it or not, for the moment the Earth is where we make our
      stand...<br /><br />…To me, it underscores our responsibility to deal more
      kindly with one another, and to preserve and cherish the pale blue dot,
      the only home we've ever known.”
    </p>
  </ImageQuote>

	<TextImageSection
		id="about"
		title="About Me"
		imageSrc={selfPortrait.src}
		imageAlt="Ben Gardiner"
		btnLink="/about"
		btnText="Learn More"
	>
		<p>
			Born and raised in country Victoria, I've always had a fascination
			with the natural world.
		</p>
		<p>
			This website is a small snippet of the things I've found interesting,
			beautiful, unique and amazing.
		</p>
		<p>I hope you enjoy!</p>
	</TextImageSection>

	<section id="home-contact">
		<h2>Questions?</h2>
		<p>Prints, downloads, tips, etc.
			<br/>
			If you have any question at all, feel free to ask.
		</p>
		<ButtonLink
			size="large"
			btnText="Contact"
			btnLink="/contact"
			customClass="mt-2"
		/>

</Layout>

<style>
	#home-contact {
		text-align: center;
		min-height: 100svh;
		position: static;
    width: 100%;

		background: linear-gradient(
			rgba(36, 76, 95, 0.5),
			rgba(0, 0, 0, 0.5)
		);
		margin-bottom: 0;
	}

	#home-contact p {
		color: var(--secondary);
		font-weight: 500;
	}
</style>
