---
import Layout from "../layouts/Layout.astro";
import FullSection from "../components/FullSection.astro";
import Card from "../components/Card.astro";
import "../styles/global.css";

import homeBackground from "../assets/images/header-home.webp";

const pageTitle = "Home";
const description =
  "Ben Gardiner Photography Nature. Landscape. Wildlife. Gallery Gallery Astro Photography of the stars, the moon, the cosmos, and beyond. Seasons Summer, Autumn, Winter, Spring.Seasonal photography throughout the year. Landscapes The bush, the fog, the light, the landscape.Photography of Australia’s unique landscapes. Nature The natural world. Plants and bugs. Photography of the often overlooked aspects of … Home Read More »";
---

<Layout title={pageTitle} description={description}>
  <main class="clear full-page">
		<FullSection id={pageTitle.toLowerCase()}/>
	</main>
</Layout>
