---
import Layout from "../layouts/Layout.astro";
import FullImageHeroSection from "../components/FullImageHeroSection.astro";
import ButtonLink from "../components/ButtonLink.astro";
import HomeGalleryGrid from "../components/HomeGalleryGrid.astro";
import "../styles/global.css";

const pageTitle = "Home";
const description =
  "Ben Gardiner Photography Nature. Landscape. Wildlife. Gallery Gallery Astro Photography of the stars, the moon, the cosmos, and beyond. Seasons Summer, Autumn, Winter, Spring.Seasonal photography throughout the year. Landscapes The bush, the fog, the light, the landscape.Photography of Australia’s unique landscapes. Nature The natural world. Plants and bugs. Photography of the often overlooked aspects of … Home Read More »";
---

<Layout title={pageTitle} description={description}>
  <FullImageHeroSection id={pageTitle.toLowerCase()}>
    <h1>
      <span class="letter-highlight">B</span>en
      <span class="letter-highlight">G</span>ardiner
      <span class="letter-highlight">P</span>hotography
    </h1>
    <h4>
      <span class="highlight-1">Nature.</span>
      <span class="highlight-2">Landscape.</span>
      <span class="highlight-3">Wildlife.</span>
    </h4>
    <ButtonLink
      size="large"
      btnText="Gallery"
      btnLink="#gallery"
      customClass="mt-2"
    />
  </FullImageHeroSection>

  <section id="gallery">
    <h2>Gallery</h2>
    <HomeGalleryGrid />
  </section>
</Layout>
