---
import Layout from "../layouts/Layout.astro";
import FullImageHeroSection from "../components/FullImageHeroSection.astro";
import "../styles/global.css";

const pageTitle = "Latest";
const description = "Latest photos from Ben Gardiner Photography";

const allImages = await Astro.glob("../assets/images/gallery/*.webp");

// Select the latest 12 images by date
const latestImages = allImages
  .sort((a, b) => b.date - a.date)
  .slice(0, 12);

  console.log(latestImages);
---

<Layout title={pageTitle} description={description}>
  <FullImageHeroSection id={pageTitle.toLowerCase()}>
    <h1>
      <span class="letter-highlight">L</span>atest
    </h1>
  </FullImageHeroSection>



</Layout>
