---
import Layout from "../layouts/Layout.astro";
import FullImageHeroSection from "../components/FullImageHeroSection.astro";
import GallerySection from "../components/GallerySection.astro";
import "../styles/global.css";

const pageTitle = "Latest";
const description = "Latest photos from Ben Gardiner Photography";

const latestImages = await Astro.glob("../assets/images/Latest/*.webp");



// const allImages = await Astro.glob("../assets/images/gallery/*.webp");
// const galleries = ["astro", "landscape", "rural", "seasons", "nature", "wildlife"]

// Select the last 2 images from each gallery
// const latestImages = galleries.map(gallery => {
//   const galleryImages = allImages.filter(image => image.default.src.includes(gallery))
//   return galleryImages.slice(-2)
// }).flat()

---

<Layout title={pageTitle} description={description}>
  <FullImageHeroSection id={pageTitle.toLowerCase()}>
    <h1>
      <span class="letter-highlight">L</span>atest
    </h1>
  </FullImageHeroSection>
  <GallerySection images={latestImages} />

</Layout>
