---
import emailIcon from "../assets/email_icon.svg";
import Divider from "./Divider.astro";
import ButtonLink from "./ButtonLink.astro";
---

<div class="form-container">
  <div class="contact-form fade-in">
    <h2>Get in touch!</h2>
    <!-- <p>Questions? Enquiries? Feedback?</p>
    <p>I'd love to hear from you!</p>
    <p>Send me an email and I'll get back to you as soon as I can.</p> -->
    <p>Prints, downloads, tips, etc.</p>
    <p>If you have any question at all, feel free to ask.</p>
    <div class="button-group">
      <ButtonLink
        icon={emailIcon.src}
        btnText="Send Message"
        btnLink="mailto:ben.gardiner.photography@gmail.com?subject=Enquiry"
        invert={true}
        btnTarget="_blank"
      />
      <a
        href="mailto:ben.gardiner.photography@gmail.com?subject=Enquiry"
        target="_blank">ben.gardiner.photography@gmail.com</a
      >
    </div>
    <Divider />
    <div class="site-contact">
      <p>Interested in the website design?</p>
      <p>
        Reach out to me over at <a
          href="https://bbgard.github.io/"
          target="_blank">bbgard.github.io</a
        >
      </p>
    </div>
  </div>
</div>

<style>
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
    max-width: 600px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .contact-form h2 {
    margin-bottom: 1rem;
    /* text-align: left; */
  }

  .contact-form h2::after {
    width: 70%;
    /* margin: 0.5rem 0 1rem 0; */

  }

  .contact-form p {
    margin-bottom: 1rem;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-group a {
    margin-top: 1rem;
    color: var(--color-gold);
    text-decoration: none;
  }

  .button-group a:hover {
    color: var(--color-green);
    text-decoration: underline;
  }

  .site-contact {
    margin-top: 2rem;
    text-align: center;
  }

  .site-contact p {
    font-size: var(--font-size-4);
  }

  .site-contact a {
    color: var(--color-gold);
    text-decoration: none;
  }

  .site-contact a:hover {
    color: var(--color-green);
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    .contact-form {
      padding: 4rem;
    }
  }
</style>
