---
/**
 * @component FullImageHeroSection
 * @description A full-width image with a title overlay.
 * @prop {string} id - A unique identifier for this component - used to set the background image in css.
 */

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section class="full-section header-image" id=`header-${id}`>
  <div class="section-container">
    <!-- <div class="header-image" id=`header-${id}`></div> -->
    <div class="header-title" id=`header-title-${id}`>
      <!-- Insert custom content here -->
      <slot />
      <!-- End custom slot -->
    </div>
  </div>
</section>

<style>
  .full-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100svh;
  }

  .section-container {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 auto;
    padding-left: 100px;
    margin-bottom: 50px;
    /* max-width: 800px; */
  }

  @media screen and (max-width: 991px){
    .section-container {
      padding-left: 60px;
    }
  }

  @media screen and (max-width: 479px){
    .section-container {
      text-align: center;
      align-items: center;
      padding-left: 0;
    }
  }

  .header-image {
    position: static;
    width: 100%;
    height: 100svh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }






  #header-home {
  /* background-image: url("../assets/images/headers/header-home.webp"); */
  /* background-image: linear-gradient(rgba(8, 65, 92, .6), rgba(28, 17, 10, .6)), url("../assets/images/headers/header-home.webp"); */
  background-image: url("../assets/images/Gallery/landscape/landscape-10.jpg");
}


#header-about {
  background-image:  url("../assets/images/headers/header-about.webp");
}

#header-contact {
  background-image:  url("../assets/images/headers/header-contact.webp");
}

#header-landscape {
  background-image:  url("../assets/images/Gallery/landscape/landscape-32.jpg");
}


#header-nature {
  background-image:  url("../assets/images/Gallery/nature/nature-11.jpg");
}

#header-rural-urban {
  background-image:  url("../assets/images/Gallery/rural-urban/rural-urban-25.jpg");
}

#header-wildlife {
  background-image:  url("../assets/images/Gallery/wildlife/wildlife-66.jpg");
}

#header-prints {
  background-image:  url("../assets/images/headers/header-prints.webp");
}

</style>
