---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section class="full-section header-image" id=`header-${id}`>
  <h1>Hello</h1>
  <!-- <img src={backgroundImage.src} alt="background image" /> -->
</section>
