---
interface Props {
  id: string;
}

// Import Images

---

<section class="gallery-container">
  <div class="gallery">
    <div class="gallery-item">
      <img src="/images/IMG_20210717_190639.jpg" alt="A photo of a sunset" />
    </div>
    <div class="gallery-item">
      <img src="/images/IMG_20210717_190639.jpg" alt="A photo of a sunset" />
    </div>
    <div class="gallery-item">
      <img src="/images/IMG_20210717_190639.jpg" alt="A photo of a sunset" />
    </div>
    <div class="gallery-item">
      <img src="/images/IMG_20210717_190639.jpg" alt="A photo of a sunset" />
    </div>
    <div class="gallery-item">
      <img src="/images/IMG_20210717_190639.jpg" alt="A photo of a sunset" />
    </div>
    <div class="gallery-item">
      <img src="/images/IMG_20210717_190639.jpg" alt="A photo of a sunset" />
    </div>
    <div class="gallery-item">
      <img src="/images/IMG_20210717_190639.jpg" alt="A photo of a sunset" />
    </div>
    <div class="gallery-item">
      <img src="/images/IMG_20210717_190639.jpg" alt="A photo of a sunset" />
    </div>
  </div>
</section>
