---
interface Props {
  id?: string;
  author?: string;
}

const { id = "", author = "" } = Astro.props;
---

<section class="image-quote" id={id}>
  <blockquote>
    <slot />
    <!-- <footer>- {author} -</footer> -->
  </blockquote>
</section>

<style>
  .image-quote {
    position: static;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  footer {
    font-size: var(--font-size-2);
    color: var(--secondary);
    font-style: normal;
    font-weight: 500;
    color: var(--color-light-grey);
    text-align: center;
    margin-top: 2rem;
  }
</style>
